<so-search class="search">
  <div class="search__button">
      <div class="search__icon"></div>
  </div>

  <form class="search__wrap-input">
    <input class="search__input" placeholder="Search" name="keywords">
    <button class="search__submit" type="submit"></button>
  </form>
</so-search>
